extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col
                +box-head(pageTitle) 
        .row.topics-container
            //- Chủ đề sẽ được thêm vào đây bằng JavaScript
    .text-center.mt-3
        a#load-more
            <i class="fa-solid fa-circle-arrow-down fa-3x"></i>
        a#hide-topics
            <i class="fa-solid fa-circle-arrow-up fa-3x"></i>


                    